@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container">
        <div class="div-header">
            Tin tức mới nhất về làm đẹp
        </div>
        <div class="news">
            <h1>dataProduct</h1>
        </div>

       

        <div class="div-header">
            Các mặt hàng sản phẩm làm đẹp mới nhất
        </div>

        <div class="product">
            <h1>dataProduct</h1>
        </div>
      
        <div class="support">

            <div class="left-support">
                <h2>HỖ TRỢ KHÁCH HÀNG</h2>

                <p class="Hotline">Hotline: 099999999</p>
                <p>(miễn phí , 08-22h kể cả T7, CN)</p>

            </div>

            <div class="right-interact">
                <h2>HỢP TÁC & LIÊN KẾT</h2>
                <img class="image" src="./Images/ffb.webp">
                <img class="image" src="./Images/igg.jpg">
                <img class="image" src="./Images/tiktok.webp">
            </div>

        </div>

        <div class="div-footer">
            <h2>BCPMSDS</h2>
            <p>Beauty care product management and distribution system has unique features and high security.</p>
            <p>©2023BCPMSDS</p>
        </div>


    </div>
</main>